@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #FAFAF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
}

#card {
    max-width: 368px;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 15px;
}

#figure  {
    padding: 16px;
}

#card > figure > img {
    width: 100%;
    border-radius: 15px;
}

#badge {
    padding-left: 16px;
    padding-right: 16px;
}

#badge > span {
    background-color: #E6D6FC;
    font-size: 12px;
    color: #883AE1;
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 40px;
}
#main-content {
    padding: 16px 16px 20px;
}
#main-content > h3 {
    color: #20293A;
    font-size: 18px;
    font-weight: 600;
}
#main-content > p {
    margin-top: 6px;
    color: #6C727F;
    font-size: 14px;
    font-weight: 300;
}

hr {
    border: 0.5px solid #E5EAF0;
}

#footer {
    padding: 20px 16px;
    color: #6C727F;
    font-size: 12px;
    font-weight: 500;
}